@import "tailwindcss";
@import "@heroui/react/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-yellow: #e3e600;
  --accent-purple: #c9a9f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-purple: var(--accent-purple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-script: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
}
